@use "global" as *;

.contact {

}

.contact-layout {
    margin-top: myrem(100);
}

.contact__inner.inner {
    width: 100%;
    margin: 0 auto;
    @include mq('md') {
        max-width: myrem(650);
    }
}

.contact__section-title {
    @include mq('md') {
        text-align: center;
    }
}

.contact__form {
    margin-top: myrem(52);
}

.form {

}

.form__items {

}

.form__item {
    
}

.form__item:not(:first-child) {
    margin-top: myrem(26);
    @include mq('md') {
        margin-top: myrem(22);
    }
}

.form__label {

}

.form__label-text {
    color: #141414;
    font-family: Noto Sans JP;
    font-size: myrem(14);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @include mq('md') {
        font-size: myrem(15);
    }
}

.form__input {
    margin-top: myrem(2);
    @include mq('md') {
        margin-top: myrem(3);
    }
}

.form__input-text,
.form__input-textarea {
    width: 100%;
    padding: myrem(10);
    background-color: #F7F7F7;
    color: rgba(134, 134, 134, 0.50);
    font-family: Noto Sans JP;
    font-size: myrem(14);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form__input-text::placeholder,
.form__input-textarea::placeholder {
    opacity: 0.5;
    color: rgba(134, 134, 134, 0.50);
}

.form__input-textarea {
    resize: none;
    height: myrem(171);
}

.contact__btn-layout {
    margin-top: myrem(48);
    @include mq('md') {
        margin-top: myrem(50);
    }
}
